/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.flexbox-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Saira Extra Condensed';
}
header{
  font-family:Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
  line-height: 5vh;
  font-size: 3vh;
  text-align: center;
  padding: 8px 5%;
}
h1{
  display: flex;
  width: 100%;
  justify-content: center;
  line-height: 4vh;
  font-size: 7vh;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
header{
  background-color: #05c71e;
  color: white;
}
a{
  text-decoration: none;
  color: white;
}